<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center>Data 1202: Data Analytics Tools</h1>
    <h1 align=center>Lab 1</h1>
</div>

<h1>Introduction</h1>
<h3>Welcome!</h3>

<p>
In this Lab, you will learn how to use Python (pandas) for preprocessing your data when Imported from a SQL databease. By the end of this lab, you will be familiar with the connection methods and how you can run SQL Queries using Python.
</p>

<h2>Table of Contents</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
In this Lab you will learn:
<ol>
    <li><a href="#p1">How to Build a connection to a SQL database</a></li>
    <li><a href="#p2">Run Simple Queries and read them into a DataFrame</a></li>
    <li><a href="#p3">Run Complex Queries and read them into a DataFrame</a></li>
</ol>

Estimated Time Needed: <strong>40 min</strong>
</div>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p2>Part 2 : Set Up the Environment to connect to MYSQL server</a></h1>
</div>

In [ ]:
pip install pymysql

In [ ]:
# How to create an engine and connect to a database

# import required libraries
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [ ]:
# dialect+driver://username:password@host:port/database
# 1. Dialect names include the identifying name of the SQLAlchemy dialect, a name such as sqlite, 
# mysql, postgresql, oracle, or mssql.
# The drivername is the name of the DBAPI to be used to connect to the database using all lowercase letters. 
# If not specified, a “default” DBAPI will be imported if available - this default is typically 
# the most widely known driver available for that backend.

# create engine
engine = create_engine('mysql+pymysql://omar:foo@localhost/data1202')

In [ ]:
# connection string
conn = engine.connect()

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p3>Part 3 : Run Simple Query</a></h1>
</div>

In [ ]:
# read a simple query into DataFrame
df = pd.read_sql("SELECT * FROM data1202.vgsales_new", conn)

In [ ]:
# print DataFrame
print(df.head())

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p4>Part 4 : Run complex Query</a></h1>
</div>

In [ ]:
# read a complex query into DataFrame
complex_df = pd.read_sql('''SELECT
    Round(SUM(NA_Sales)) as 'NA_Sales',
    ROUND(SUM(EU_Sales)) as 'EU_Sales',
    ROUND(SUM(JP_Sales)) as 'JP_Sales',
    ROUND(SUM(Global_Sales)) AS 'Global_Sales',
    ROUND((SUM(NA_Sales)/SUM(Global_Sales)) * 100) as 'NA_GlobalShare'

FROM
    data1202.vgsales_new
WHERE
    Genre = 'Action'
        AND Year>= 2005''', conn)

print(complex_df)